.hero.is-medium .hero-body {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.App {
  text-align: center;
  font-size: 1.3em;
}

.music-canvas {
  padding-top: 0em;
  padding-left: 3em;
  padding-bottom: 0em;
  padding-right: 3em;
}

.bass-clef-and-staff {
  transition: all .5s ease-in-out;
}

/* .user-feedback-svg {

  animation-name: fade-in;
  animation-duration: 1s;
  animation-tim ing-function: ease-in-out;
  animation-iteration-count: infinite;

} */

/* .smooth-move {
 transition: all .3s ease-in-out
} */

/* @keyframes fade-in {
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
} */

.prompted-svg {
  transition: all .7s ease-in-out;
}

.heading {
  font-size: 15px;
}

.tags, .buttons {
  justify-content: center;
}

.mt-1 {
  margin-top: 1em;
}

.title {
  /* font-family: 'Sawarabi Mincho', sans-serif; */
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 3em;

}

.button {
  background-color: #EDC;
}

.info-box p {
  font-size: 1em;
  text-align: left;
  margin-bottom: 1em;
}

.info-box h2 {
  font-size: 1.3em;
  text-align: left;
  margin-bottom: .5em;
}

#test {
  background-color: #80cbb0;
  font-size: 1.8em;
  vertical-align: middle;
}

.fixed-height-div {
  min-height: 5.5em;
  vertical-align: middle;
}


h2 {
  font-size: 1.5em;
  margin-bottom: 0.7em;
}

/* #prompted-note {
  animation: whole-note-resize 1s;
}

@keyframes whole-note-resize {
  0%{transform: scale(5);}
  100%{transform: scale(1);}

} */
