.hero.is-medium .hero-body {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.App {
  text-align: center;
  font-size: 1.3em;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-canvas {
  padding-top: 1em;
  padding-left: 3em;
  padding-bottom: 1em;
  padding-right: 3em;
}

.heading {
    font-size: 15px;
}

.tags, .buttons {
  justify-content: center;
}

.mt-1 {
  margin-top: 1em;
}

/* h1 {
  background-color: teal;
} */
